<div class = "container" width="90%" style="padding: 50px 0px 160px 0px;">
  <!-- カレンダーフォームここから -->
  <div class="contents-title text-center">
    <h1>やんばるCODE <br class="d-sm-none">
        イベント日程</h1>
  </div>
  <div class="g-calendar mb-5">
    <iframe src="https://calendar.google.com/calendar/embed?src=uodoyk32%40gmail.com&ctz=Asia%2FTokyo" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
  <!-- カレンダーフォームここまで -->
  <h1 class="text-center mb-4">動画教材</h1>

  <!-- 検索フォームここから -->
      <form class="mb-3 search-form mx-auto">
        <i class="fas fa-search"></i>
        <input class="form-control search-movie" type="text" placeholder="教材を探す">
      </form>
  <!-- 検索フォームここまで-->

  <div class = "container-fluid" >
    <div class = "row">
      <% @movies.each.with_index(@movies.offset_value + 1) do |movie, i| %>
        <div class="col-12 col-md-6 col-lg-4">
          <div class = "card border-dark mb-3">
            <div class = "card-header p-0">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe width=560 height=315 src="<%= movie.url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </div>
            </div>
            <div class="card-body text-dark movie-body" style= "height: 290px;">
              <p id = "movie-<%= movie.id %>">
                <% if @viewed_movie_ids.include?(movie.id) %>
                  <%= render "viewed", movie: movie %>
                <% else %>
                  <%= render "unviewed", movie: movie %>
                <% end %>
              </p>
              <p class="card-title" style="height:200px; font-size:1.7rem; line-hight:1.5em;">Lv.<%= i %>:<%= movie.title %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= paginate @movies %>
  </div>
</div>
